.content {
	transition: max-height 0.2s;
	overflow: hidden;
	&[aria-hidden="true"] {
		max-height: 0;
	}
	&[aria-hidden="false"] {
		max-height: var(--containerHeight, 1000px);
	}
}

/* Everything after this is merely aesthetics */
* {
	box-sizing: border-box;
}

.window {
	font-family: sans-serif;
	line-height: 1.2;
}

.trigger {
	font-size: 1em;
	display: flex;
	align-items: center;
	padding: 0 20px;
	min-height: 45px;
	border: 2px solid #3ecf8e;
	border-radius: 20px;
	background-color: transparent;
	color: #212121;
	&:focus {
		border: 2px solid #222;
		outline: 0;
	}
	[data-drawer-showing="true"] & {
		background-color: #3ecf8e;
		border: 2px solid transparent;
	}
}

.window + .window {
	margin-top: 20px;
}

.content {
	display: flex;
	margin: 1em;
	line-height: 1.4;
	max-width: 800px;
}